[submodule "config/includes.chroot/usr/share/refind/themes/refind-theme-regular"]
	path = config/includes.chroot/usr/share/refind/themes/refind-theme-regular
	url = https://github.com/bobafetthotmail/refind-theme-regular.git
